<?xml version = "1.0" encoding="UTF-8" standalone="yes" ?>

<configuration>
    
    <!-- DIRECTORIES SETTINGS -->
    
    <directories>
        <!-- Path to directory to work into -->
        <directory working-directory="/home/meng/Pipeline_1/my_working_dir_2/" />
        <!-- Path to directory where reads files are stored -->
        <directory in-file="/home/meng/Pipeline_1/data/" />
    </directories>
    
    <!-- PREPROCESSING PARAMETERS -->
    
    <preprocesses>
        <!-- Fastx quality trimmer programm -->
        <preprocess name="fastx-trimmed">
            <parameters>
                <!-- Minimum quality of bases required within each sequence -->
                <parameter min-quality="28" />
            </parameters>
        </preprocess>
        <!-- Fastx quality trimmer programm -->
        <preprocess name="trimmomatic">
            <parameters>
                <!-- Path to trimmomatic.jar 
                ex : /usr/share/java/trimmomatic.jar -->
                <parameter trimmomatic-path="/usr/share/java/trimmomatic.jar" />
                <!-- Maximum number of CPUs to be use -->
                <parameter threads-number="4" />
                <!-- Reads quality phred encoding version -->
                <parameter phred-encoding="33" />
                <!-- Removing low quality bases (below treshold value) from the 
                5'end position -->
                <parameter leading-quality-threshold="3" />
                <!-- Removing low quality bases (below treshold value) from the 
                3'end position -->
                <parameter trailing-quality-threshold="3" />
                <!-- Sliding window trimming within reads (window size) -->
                <parameter sliding-window-size="4" />
                <!-- Sliding window trimming within reads 
                (window mean quality) -->
                <parameter sliding-window-quality="15" />
                <!-- Minimum read length required  -->
                <parameter min-read-length="100" />
                <!-- Performs an adaptive quality trim, balancing the benefits 
                of retaining longer reads against the costs of retaining bases 
                with errors.  0.1 < strictness < 0.9, low treshold favours 
                longer reads while high treshold favours read correctness -->
                <parameter target-length="100" />
                <parameter target-strictness="0.3" />
            </parameters>
        </preprocess>
    </preprocesses>
    
    <!-- ASSEMBLY PARAMETERS -->
    
    <assembly>
        
        <files>
            <!-- Reads file layout : 2 files -->
            <file left="R1.fq" />
            <file right="R2.fq" />
        </files>
        
        <assembler name="trinity">
            <parameters>
                <!-- Reads file format : "fq" "fa" -->
                <parameter file-format="fq" />
                <!-- Maximum RAM allowed (Jellyfish) -->
                <parameter max-ram="30" />
                <!-- Maximum CPU allowed (Chrysalis/Butterfly) -->
                <parameter max-cpu="4" />
                <!-- Reads orientation : "RF" "FR" "R" "F" -->
                <parameter orientation="" />
            </parameters>
        </assembler>
        <assembler name="velvet-oases">
            <program name="velveth">
                <parameters>
                    <!-- Reads file format : "-fastq" "-fasta" "-fmtAuto" 
                    If you're not sure about the format use "-fmtAuto" -->
                    <parameter file-format="-fastq" />
                    <!-- Reads type : "-shortPaired" "-longPaired" -->
                    <parameter read-type="-shortPaired" />
                    <!-- Reads file layout : "-separate" "-interleaved" -->
                    <parameter file-layout="-separate" />
                    <!-- Reads orientation (if known) : "-strand-specific" -->
                    <parameter orientation="" />
                </parameters>
            </program>
            <program name="oases">
                <parameters>
                    <!-- Paired reads insert length -->
                    <parameter insert-length="" />
                    <!-- Minimum node coverage allowed (reads)-->
                    <parameter node-coverage="3" />
                </parameters>
            </program>
            <program name="oases-pipeline">
                <parameters>
                    <!-- Start K value for k-mer -->
                    <parameter min-k="19" />
                    <!-- End K value for k-mer -->
                    <parameter max-k="31" />
                    <!-- Step between K value for k-mer -->
                    <parameter step-k="4" />
                </parameters>
            </program>
        </assembler>
        
    </assembly>
    
    <!-- MAPPING PARAMETERS -->
    
    <mapping>
        <parameters>
            <!-- Mapping programm to use :
            "bwaaln" or
            "bwamem" or
            "bowtie" -->
            <parameter mapping-program="bwaaln" />
        </parameters>
    </mapping>
    
</configuration>
